<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" parallel="true" thread-count="2">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="CollectionOfFunctionalMethods.BasicMethods.AssertionListener" />
        <listener class-name="CollectionOfFunctionalMethods.UseCaseReRunCorrelation.OverrideIAnnotationTransformer"/>
    </listeners>
    <test name="8.0福建职业健康学习">
        <parameter name="TestFilePath" value="/TestList/8.0FJZYJKStudy.xlsx"/>
        <parameter name="PlatformName" value="核心用例-8.0福建职业健康学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="8.0FJZYJKStudy.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>
    <test name="安徽专技学员学习">
        <parameter name="TestFilePath" value="/TestList/7.0AHZJSZstudy.xlsx"/>
        <parameter name="PlatformName" value="核心用例-7.0安徽专技学员学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="7.0AHZJSZstudy.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
   </test>
       <!-- <test name="安徽建设学员学习">-->
        <!--<parameter name="TestFilePath" value="/TestList/7.0AHJSstudy.xlsx"/>-->
        <!--<parameter name="PlatformName" value="核心用例-7.0安徽建设学员学习"/>-->
       <!-- <parameter name="TIME" value="2"/>-->
       <!-- <parameter name="TestName" value="7.0AHJSstudy.xlsx"/>-->
       <!-- <classes>-->
         <!--   <class name="Testing.Tester"/>-->
        <!--</classes>-->
   <!-- </test>-->
    <test name="甘肃专技学员学习">
        <parameter name="TestFilePath" value="/TestList/7.0GSSZstudy.xlsx"/>
        <parameter name="PlatformName" value="核心用例-7.0甘肃专技学员学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="7.0GSSZstudy.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>
    <test name="福建会计学员学习">
        <parameter name="TestFilePath" value="/TestList/fjkj200507.xlsx"/>
        <parameter name="PlatformName" value="核心用例-7.0福建会计学员学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="fjkj200507.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>
	
	<test name="湖北会计学员学习">
		<parameter name="TestFilePath" value="/TestList/7.01HBKJ-Study.xlsx"/>
        <parameter name="PlatformName" value="核心用例-7.0湖北会计学员学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="7.01HBKJ-Study.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>

    <test name="原马尾-测绘项目学员报名">
    <parameter name="TestFilePath" value="/TestList/buyclass-student.xlsx"/>
    <parameter name="PlatformName" value="核心用例-测绘项目学员报名"/>
    <parameter name="TIME" value="2"/>
    <parameter name="IfDataPrepare" value="否"/>
    <parameter name="TestName" value="buyclass-student.xlsx"/>
    <classes>
        <class name="Testing.Tester"/>
    </classes>
    </test>
    <test name="原马尾-测绘项目退款">
        <parameter name="TestFilePath" value="/TestList/buyclass-admin.xlsx"/>
        <parameter name="PlatformName" value="核心用例-测绘项目退款"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="buyclass-admin.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>

    <test name="华为云视频播放检测">
        <parameter name="TestFilePath" value="/TestList/GSZJ.xlsx"/>
        <parameter name="PlatformName" value="核心用例-福建建设华为云视频播放检测"/>
        <parameter name="TIME" value="5"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="GSZJ.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>

    <test name="福建建设学习">
        <parameter name="TestFilePath" value="/TestList/7.0FujianConstructionStudy.xlsx"/>
        <parameter name="PlatformName" value="核心用例-福建建设学习"/>
        <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="7.0FujianConstructionStudy.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>
    <test name="四川建设报名">
       <parameter name="TestFilePath" value="/TestList/6.0SJbuyclass.xlsx"/>
       <parameter name="PlatformName" value="核心用例-四川建设报名"/>
       <parameter name="TIME" value="2"/>
        <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="6.0SJbuyclass.xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test>
       <test name="四川建设学习考试">
       <parameter name="TestFilePath" value="/TestList/6.0SCstudyexam.xlsx"/>
       <parameter name="PlatformName" value="核心用例-四川建设学习考试"/>
       <parameter name="TIME" value="2"/>
       <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="6.0SCstudyexam.xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test>
   <test name="建设考前新平台学习">
       <parameter name="TestFilePath" value="/TestList/8.01XJSKQ-Study.xlsx"/>
       <parameter name="PlatformName" value="核心用例-建设考前新平台学习"/>
       <parameter name="TIME" value="4"/>
       <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="8.01XJSKQ-Study.xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test>
   <test name="建设考前新平台考试">
       <parameter name="TestFilePath" value="/TestList/8.01XJSKQ-Exam.xlsx"/>
       <parameter name="PlatformName" value="核心用例-建设考前新平台考试"/>
       <parameter name="TIME" value="4"/>
       <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="8.01XJSKQ-Exam.xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test>
   
   <!-- <test name="建设考前旧平台学习">
       <parameter name="TestFilePath" value="/TestList/8.01JJSKQ-Study.xlsx"/>
       <parameter name="PlatformName" value="核心用例-建设考前旧平台学习"/>
       <parameter name="TIME" value="4"/>
       <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="8.01JJSKQ-Study.xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test>
   <test name="建设考前旧平台考试">
       <parameter name="TestFilePath" value="/TestList/8.01JJSKQ-Exam .xlsx"/>
       <parameter name="PlatformName" value="核心用例-建设考前旧平台考试"/>
       <parameter name="TIME" value="4"/>
       <parameter name="IfDataPrepare" value="否"/>
       <parameter name="TestName" value="8.01JJSKQ-Exam .xlsx"/>
   <classes>
       <class name="Testing.Tester"/>
   </classes>
   </test> -->
   
   <!--<test name="6.0省工考学员学习">-->
    <!--<parameter name="TestFilePath" value="/TestList/SGKstudy.xlsx"/>-->
    <!--<parameter name="TIME" value="40"/>-->
    <!--<parameter name="TestName" value="SGKstudy.xlsx"/>-->

    <!--<classes>-->
    <!--    <class name="Testing.Tester"/>-->
    <!--</classes>-->
    <!--</test>  -->

	
    <!--<test name="测绘项目学员播放考试">-->
        <!--&lt;!&ndash;以下是为@test方法中进行赋值&ndash;&gt;-->
        <!--<parameter name="TestFilePath" value="/TestList/6.0studyexam1.xlsx"/>-->
       <!--<parameter name="TIME" value="20"/>-->
        <!--<parameter name="TestName" value="6.0studyexam1.xlsx"/>-->

        <!--<classes>-->
            <!--<class name="Testing.Tester"/>-->
        <!--</classes>-->
    <!--</test>	-->

   <!--test name="测绘学员考试">
    <parameter name="TestFilePath" value="/TestList/exam.xlsx"/>
    <parameter name="TIME" value="20"/>
    <parameter name="TestName" value="exam.xlsx"/>

    <classes>
        <class name="Testing.Tester"/>
    </classes>
  </test-->

  <test name="原马尾-6.0山东平台学员学习">
        <!--以下是为@test方法中进行赋值20180319yff-->
        <parameter name="TestFilePath" value="/TestList/6.0sdstudy.xlsx"/>
      <parameter name="PlatformName" value="核心用例-6.0山东平台学员学习"/>
      <parameter name="TIME" value="2"/>
      <parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="6.0sdstudy.xlsx"/>
        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>

<!-- 会计因为停止学员端学习故此关闭先 -->
   <!-- <test name="会计学习"> -->
        <!--以下是为@test方法中进行赋值20180612YFF-->
        <!-- <parameter name="TestFilePath" value="/TestList/6.0kjstudy.xlsx"/> -->
        <!-- <parameter name="TIME" value="30"/> -->
        <!-- <parameter name="TestName" value="6.0kjstudy.xlsx"/> -->
        <!-- <classes> -->
            <!-- <class name="Testing.Tester"/> -->
        <!-- </classes> -->
    <!-- </test> -->

    <test name="5.0学习考试">
        <!--以下是为@test方法中进行赋值-->
        <parameter name="TestFilePath" value="/TestList/5.0StudyExam.xlsx"/>
        <parameter name="PlatformName" value="核心用例-5.0学习考试"/>
        <parameter name="TIME" value="2"/>
		<parameter name="IfDataPrepare" value="否"/>
        <parameter name="TestName" value="5.0StudyExam.xlsx"/>

        <classes>
            <class name="Testing.Tester"/>
        </classes>
    </test>  
	
   

    <!--<test name="测绘项目学员测试2">-->

        <!--<parameter name="TestFilePath" value="E:\IdeaPrograms\AutoTest6.0SYS\TestList\readXLSX1.xlsx"/>-->
        <!--<parameter name="TIME" value="20"/>-->

        <!--<classes>-->
            <!--<class name="Testing.Tester"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>